*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
    /* background-color: var(--bg-color); */
}

:root{
    --bg-color: #1e1e1e;
    --second-bg-color: #2c2c2c;
    --main-color:#7cf03d;
    --white-color: #fff;
    --disabled-color: #555;
}
html{
    font-size: 60%;
    scroll-behavior: smooth;
}
body{
    background-color: #1e1e1e;
    color: var(--white-color);
    overflow-x: hidden;
}

html {
    overflow-x: hidden;
}

header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
     background-color: var(--bg-color);
    justify-content: space-between;
    align-items: center;
    padding: 2rem 10%;
    z-index: 100;
    visibility: visible;
    opacity: 1;
}

header.active{
    visibility: visible;
    opacity: 1;
}

.logo{
    font-size: 3rem;
    font-weight: 700;
    color: var(--white-color);
}

nav a{
    font-size: 2rem;
    color: var(--white-color);
    margin-left: 3rem;
    font-weight: 500;
    transition: .5s;
}

nav a:hover, nav a.active{
    color: var(--main-color);
}
#menu-icon {
    font-size: 4rem;
    display: none;
}

.bars-box{
    display: none;
}


section{
    position: relative;
    width: 100%;
    padding: 10rem 10% 5rem;
    overflow-x: hidden;
}


.home{
    display: flex;
    justify-content: center;
    align-items: center;
   gap: 5rem;
    min-height: 80vh;
}

.home-detail h1{
    font-size: clamp(3.5rem, 10vw, 5.5rem);
}

.home-detail h2{
    display: inline-block;
    font-size: 3.2rem;
    margin-top: -1rem;
}

.home-detail p{
    font-size: 1.8rem;
    margin: 1rem 0 2.5rem;
    text-align: justify;
}
.home-detail .btn-sci{
    display: flex;
    align-items: center;
}

.btn{
    display: inline-block;
    padding: 1rem 3rem;
    background-color: var(--main-color);
    color: var(--white-color);
    font-size: 1.6rem;
    border-radius: 4rem;
    border: .2rem solid var(--main-color);
    box-shadow: 0 0 5px var(--main-color);
    font-weight: 500;
    transition: .5s;
}

.btn:hover{
    background-color: transparent;
    color: var(--main-color);
    box-shadow: none;
}

.home-detail .btn-sci .sci{
    margin-left: 2rem;
}
.home-detail .btn-sci .sci a{
    /* font-size: 2.5rem;
    color: var(--white-color);
    transition: .5s; */
    display: inline-flex;
    padding: .8rem;
    border-radius: 50%;
    border: .2rem solid var(--main-color);
    font-size: 2rem;
    color: var(--main-color);
    margin: 0 .8rem;
    transition: .5s;
}

.home-detail .btn-sci .sci a:hover{
    color: var(--bg-color);
    background-color: var(--main-color);
    box-shadow: 0 0 1rem var(--main-color);
}


.home-img .img-box{
    position: relative;
    width: 32vw;
    height: 30vw;
    border-radius: 50%;
    padding: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.home-img .img-box::before,.home-img .img-box::after{
    content: '';
    position: absolute;
    width: 50rem;
    height: 50rem;
    background: conic-gradient(transparent, transparent, transparent, var(--main-color));
    transform: rotate(0deg);
    animation: rotate-border 10s linear infinite;
}
.home-img .img-box::after{
    background: conic-gradient(transparent, transparent, transparent, var(--main-color));
    animation-delay: -5s;
}
@keyframes rotate-border{
    100%{
        transform: rotate(360deg);
    }
}

.home-img .img-box .img-item{
    position: relative;
    width: 100%;
    height: 100%;
   background: var(--bg-color);
   border-radius: 50%;
   border: .01rem solid var(--bg-color);
   display: flex;
    justify-content: center;
    z-index: 1;
    overflow: hidden;
}

.home-img .img-box .img-item img{
    position: absolute;
    top:3rem;
    display: block;
    width: 85%;
    object-fit: cover;
    mix-blend-mode: lighten;
}


/* 
 service section 
.heading{
    font-size: 4.5rem;
    text-align: center;
    margin-bottom: 2rem;
}
.heading span{
    color: var(--main-color);
}

.service-container{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
     
    gap: 2rem;
}
.service-container .services-box{
    padding: 3rem 2.5rem;
    background: var(--second-bg-color);
    border: .2rem solid var(--second-bg-color);
    border-radius: 1rem;
}

.service-container .services-box:hover{
    border-color: var(--main-color);
    transform: scale(1.02);}
.services-box .icon{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.services-box .icon i{
    font-size: 4.5rem;
    transition: .5s;
}


.services-box:hover .icon :not(a i){
    color: var(--main-color);
}
.services-box:hover .icon  a{
    background-color: var(--main-color);
    
}

.services-box .icon a{
    display: inline-flex;
    background-color: var(--white-color);
    border-radius: 50%;
    padding: 1rem;
}

.services-box .icon a i{
    font-size: 3rem;
    color: var(--bg-color);
    transform: rotate(225deg);
}
.services-box .icon a:hover i{
    transform: rotate(180deg);
}
.services-box h3{
    font-size: 2.5rem;
    margin: .5rem 0 2rem;
}

.services-box:hover h3{
    color: var(--main-color);
}
.services-box p{
    font-size: 1.6rem;
} */





/* resume section */

.resume-container{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 5rem;
}

.resume-box h2{
    font-size: 4.5rem;
     margin-bottom: 1rem;
}

.resume-box p{
    font-size: 1.6rem;
    margin-bottom: 1rem;
}

.resume-box.desc{
    margin: 2rem 0 2.5rem;
}


.resume-box .resume-btn{
    width: 100%;
    height: 5rem;
    background: var(--second-bg-color);
    color: var(--white-color);
    border-radius: .8rem;
    border: .2rem solid var(--second-bg-color);
    font-size: 1.6rem;
    font-weight: 500;
    margin-bottom: 2rem;
    cursor: pointer;

}

.resume-box .resume-btn.active{
  color: var(--main-color);
  border-color: var(--main-color);
}

.resume-detail{
    display: none;
}
.resume-detail.active{
    display: block;
}

.resume-box .heading{
    font-size: 3.5rem;
    text-align: left;
}

.resume-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 2rem;
    height: 45rem;
    overflow: auto;
}

.resume-list::-webkit-scrollbar{
    width: .10rem;
}

.resume-list::-webkit-scrollbar-thumb{
    background: transparent;
    border-radius: 1rem;
    background: var(--main-color);
    
}
  
/* .resume-list::-webkit-scrollbar-thumb:hover{
    background: var(--main-color);
} */

.resume-list .resume-item{
    background: var(--second-bg-color);
    border-radius: .8rem;
    padding: 3rem 2.5rem;
    height: calc((45rem - 2rem) / 2);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.resume-list .resume-item h3{
    font-size: 2.3rem;
}

.resume-list .resume-item .year{
    color: var(--main-color);
    margin-bottom: 1rem;
}

.resume-list .resume-item .school{
        position: relative;
        margin-left: 2rem;
        font-size: 2rem;
        margin-top: 1rem;
        margin-bottom: 2rem;
}
.resume-list .resume-item .school::before{
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: .5rem;
    background: var(--main-color);
    border-radius: 50%;
    margin-left: -2rem;
}

/* Skill */

.resume-detail.skill .resume-list{
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    height: auto;
    overflow: visible;
}

.resume-detail.skill .resume-item{
    position: relative;
    align-items: center;
    height: auto;
}

.resume-detail.skill .resume-item i{
    font-size: 8.5rem;
    transition: .5s;
}


.resume-detail.skill .resume-item:hover i{
    color: var(--main-color);
}

.resume-detail.skill .resume-item span{
    position: absolute;
    top: -20%;
    background: var(--white-color);
    color: var(--bg-color);
    font-size: 1.6rem;
    padding: .5rem 1rem;
    border-radius: .6rem;
    pointer-events: none;
    opacity: 0;
    transform: scale(.9);
    transition: .2s;
}

.resume-detail.skill .resume-item:hover span{
    top: -25%;
    opacity: 1;
    transform: scale(1);
}


/* about */
.resume-detail.about{
   grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    height: auto;
}

.resume-detail.about .resume-item{
    
    height: auto;
    padding: 0 0 .5rem;
    background: transparent;
}

.resume-detail.about .resume-item p{
    color: var(--main-color);

}
.resume-detail.about .resume-item span{
    color: var(--white-color);
    margin-left: 1rem;
    font-size: 1.8rem;
}

/* projects */

.resume-detail.projects .resume-list{
    display: grid;
   grid-template-columns:repeat(2, 1fr) ;
   gap: 2rem;
    height: 45rem;
    overflow: auto;
}

.resume-detail.projects .resume-list .resume-item{
    background: var(--second-bg-color);
    border-radius: .8rem;
    padding: 3rem 2.5rem;
    height: calc((45rem - 2rem) / 2);
} 

 .resume-detail.projects .resume-list .resume-item h3{
    font-size: 2rem;
    color: var(--main-color);
 }

  .resume-detail.projects .resume-item h3{
    font-size: 2rem;
    transition: .5s;
}
.resume-detail.projects .resume-item:hover h3{
    color: var(--main-color);
}





/* portfolio */

.portfolio-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
}

.portfolio-detail{
    display: none;
}

.portfolio-detail.active{
    display: block;
} 

.portfolio-box .numb{
    font-size:8rem;
    -webkit-text-stroke: .07rem var(--white-color);
    color: transparent;
    line-height: 1;
}

.portfolio-box h3{
    font-size: 3.5rem;
    margin: 0.8rem 0 2rem;
}

.portfolio-box p{
    font-size: 1.8rem;
    margin-bottom: 2rem;
} 

.portfolio-box.tech{
    margin: 2rem 0;
    color: var(--main-color);
    border-bottom: .1rem solid var(--white-color);
    padding-bottom: 2rem;
}

.portfolio-box .live-github a{
    position: relative;
    display: inline-flex;
    padding: 1.3rem;
    font-size: 3rem;
    color: var(--white-color);
    border-radius: 50%;
    background: var(--second-bg-color);
    transition: .5s;
}


.portfolio-box .live-github a:hover{
    color: var(--main-color);
}

.portfolio-box .live-github a:first-child{
    margin-right: 1.5rem;
}

.portfolio-box .live-github a:first-child i{
    transform: rotate(135deg);
}

.portfolio-box .live-github a span{
    position: absolute;
    top: -60%;
    left: 50%;
    transform: translateX(-50%) scale(.9);
    font-size: 1.6rem;
    white-space: nowrap;
    padding: .5rem 1rem;
    border-radius: .6rem;
    pointer-events: none;
    background: var(--white-color);
    color: var(--bg-color);
    opacity: 0; 
    transition: .2s;
} 

.portfolio-box .live-github a:hover span{
    top: -70%;
    opacity: 1;
    transform: translateX(-50%) scale(1);
}

.portfolio-box .portfolio-car{
    width: 100%;
    height: 45rem;
    border-radius: 1rem;
    overflow: hidden;
}
.portfolio-car .img-slide{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 100%;
    gap: 2rem;
    height: inherit;
    transition: .5s;
    /* background-color: aqua; */
}

.portfolio-car .img-item{
    height: inherit;
}

.portfolio-car .img-item img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 1em;
}

 .portfolio-container .navigation{
    text-align: center;
    margin-top: 2rem;
}

.portfolio-container .navigation button{
    display: inline-block;
    padding: .4rem;
    background: var(--second-bg-color);
    border: .2rem solid var(--main-color);
    border-radius: .6rem;
    font-size: 4rem;
    color: var(--main-color);
    cursor: pointer;
}

.portfolio-img .navigation button:disabled{
    opacity: 0;
    cursor: default;
    transform: none;
}
.portfolio-box .navigation button.disabled{
    border-color: var(--second-bg-color);
    color: var(--disabled-color);
    cursor: not-allowed;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}
.portfolio-container.navigation .arrow-right{
    margin-left:  1.5rem;
}

/* contact */

.contact-container{
    display: grid;
    grid-template-columns: 1fr 1.3fr;
    gap: 3rem;
}
.contact-container .contact-box:first-child{
    align-self: center;
}   

.contact-box h2{
    font-size: 4.5rem;
}

.contact-box p{
    font-size: 1.6rem;
    /* margin: 2rem 0 2.5rem; */
}

.contact-box .desc{
    margin: 1.5rem 0 2.5rem;
}

.contact-box .contact-detail{
    display: flex;
    align-items: center;
    margin: 2rem 0;
}

.contact-detail i{
    display: inline-flex;
    background: var(--second-bg-color);
    color: var(--main-color);
    padding: 1.2rem;
    font-size: 3rem;
    border-radius: .6rem;
    margin-right: 1.5rem;
}

.contact-detail  .detail p:first-child{
    color: var(--main-color);
}

.contact-box form{
    background: var(--second-bg-color)  ;
    padding: 2.5rem 3.5rem 3.5rem;
    border-radius: 1rem;
    text-align: center;

}

.contact-box .heading{
    font-size: 3.5rem;
}

.contact-box .field-box{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 2rem;
}

.contact-box .field-box input,
.contact-box .field-box textarea{
    padding: 1.5rem;
    background: var(--bg-color);
    border: .15rem solid var(--bg-color);
    border-radius: .6rem;
    color: var(--white-color);
    font-size: 1.6rem;
}
.contact-box .field-box textarea{
    grid-column: 1/-1;
    resize: none;
    height: 26rem;
}

.contact-box .field-box input:focus,
.contact-box .field-box textarea:focus{
    border-color: var(--main-color);
    
}



/* breakpoints */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: var(--disabled-color);
}

::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
  border-radius: 1px;
  /* border: 3px solid rgb(9, 9, 9); */
}
.heading{
    font-size: 4.5rem;
    text-align: left;
    margin-bottom: 2rem;
}
.heading span{
    color: var(--main-color);
}


@media screen  and (max-width:1200px) {
    html{
        font-size: 55%;
    }
}

@media screen and (max-width:992px){
    header{
        padding: 2rem 4%;
    }
    section{
        padding: 10rem 4% 2rem;
    }
}

@media screen and (max-width:810px){
    .contact-box .field-box{
        grid-template-columns:1fr ;
    }
}

@media screen and (max-width: 768px){
    #menu-icon{
        display: block;
    }
    nav{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 0;
        background: var(--bg-color);
        border-top: .1rem solid  rgba(0, 0, 0, .2);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
        text-align: center;
        display: none;
    }


        nav.active{
    display: block;
    }

    nav a{
    display: block;
    margin: 4rem 0;
    }    

    .home{
    flex-direction: column-reverse;
    
    justify-content: center;
    gap:2rem;
    }
    .home-img .img-box{
    width: 35rem;
    height: 35rem;
    }
    .resume-container,.portfolio-container,.contact-container{
    grid-template-columns:1fr ;
    }

    .resume-container{
    gap: 3rem;
    }
    .portfolio-container .portfolio-box:first-child{
    order:1;
    }
    .contact-box  .field-box{
    grid-template-columns:repeat(2,1fr) ;
    }
}

@media screen  and (max-width:600px) {
    .home-img .img-box{
        width: 30rem ;
        height: 30rem;
    }
    .contact-box .field-box{
        grid-template-columns: 1fr;
    }
}


@media screen  and (max-width:450px){
    html{
        font-size: 50%;
    }
} 


@media screen  and (max-width:400px) {
    .home-detail,.resume-box h2,
    .resume-box .heading,
    .resume-box.desc,
    .resume-detail.about .resume-item{
        text-align: center;
    }

    .home-detail .btn-sci{
        margin-left: 0;
        margin-bottom: 2re;
     }

     .contact-box form{
        padding: 2.5rem 3rem 3.5rem;  
     }

     .contact-box h2{
        font-size: 3.5rem;
     }
}










